html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    max-width: 1440px;
    font-family: Source Serif Pro, serif;
    margin: 0 auto;
    font-size: 1.6rem;
}

.cabecalho {
    padding: 30px 15px;
    position: relative;
}

.cabecalho .logo {
    background: url(../images/logo.jpg) center center no-repeat;
    width: 85px;
    height: 85px;
    display: inline-block;
}

.cabecalho .logo h1 {
    font-size: 0;
}

.cabecalho nav {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 30px;
    z-index: 100;
}

.cabecalho ul li {
    display: inline-block;
    padding: 15px;
}

.cabecalho ul li a:hover {
    font-weight: bold;
    background-color: #D3AE71;
    padding: 15px;
    transition: 0.3s ease-in-out;
    border-radius: 30px;
}

.painel {
    background: url(../images/painel.jpg) center center no-repeat;
    height: 600px;
}

.painel h2 {
    color: #ffff;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    position: relative;
    top: 50%;
    transform: rotateY(-50%);
}

.secao-com-texto {
    text-align: center;
    padding: 153px;
    clear: both;
}

.secao-com-texto img {
    width: 170px;
    height: 170px;
    margin-bottom: 70px;
}

.secao-com-texto h2 {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 37px;
}

.secao-com-texto p {
    padding-bottom: 37px;
    width: 702px;
    margin: 0 auto;
}


/*-----LADRILHOS-----*/

.ladrilhos div {
    float: left;
}

.ladrilhos .grande {
    background: url(../images/4.jpg) center center no-repeat;
    height: 600px;
    width: 50%;
}

.ladrilhos .pequeno {
    background: url(../images/2.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilhos .pequeno.grao {
    background: url(../images/3.jpg) center center no-repeat;
    height: 300px;
    width: 25%;
}

.ladrilhos .medio {
    background: url(../images/1.jpg) center center no-repeat;
    height: 300px;
    width: 50%;
}


/*-----ONDE ESTAMOS-----*/

.secao-com-texto.onde-estamos p {
    font-size: 28px;
    width: 480px;
}


/*-----CONTATO------*/

.contato {
    color: #FFFFFF;
    position: relative;
    height: 600px;
    background: url(../images/fundo-contato.jpg) center center no-repeat;
}

.contato h2 {
    text-align: left;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;
}

.contato address {
    font-size: 25px;
    line-height: 37px;
    height: 179px;
    width: 342px;
    font-weight: 600;
}

.contato .texto {
    position: absolute;
    top: 30%;
    left: 54%;
}


/*-----RODAPE------*/

.rodape {
    background: url(../images/fundo-rodape.jpg) center center no-repeat;
    padding: 35px 30px;
    background-size: cover;
}

.rodape ul {
    float: right;
    margin-top: 30px;
}

.rodape ul li {
    font-size: 16px;
    display: inline-block;
    padding: 15px;
}

.rodape ul li a {
    color: #ffff;
}

.rodape ul li a:hover {
    font-weight: bold;
}

.rodape .logo {
    width: 85px;
    height: 85px;
}


/*----- COPYRIGHT-------*/

.rodape .copyright {
    color: #ffff;
}


/*-----REDES-SOCIAIS----- */

.rodape .redes-sociais .facebook,
.rodape .redes-sociais .instagram {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.rodape .redes-sociais {
    float: right;
    clear: both;
}

.rodape .conteudo-de-baixo {
    margin-top: 40px;
}

.rodape .copyright {
    margin-top: 19px;
}